.idea
.DS_Store
CMakeFiles
cmake-build-debug
*.cbp
Makefile
*.cmake
CMakeCache.txt
build/
android/work*/
raw/
.python-version
build-sprites
__pycache__
scratch/
*qhd.png
*qhdplus.png
*map.png
*fhd.png
*svga.png
*sxga.png
*uhd.png
*.a
src/trippin