.idea
.DS_Store
CMakeFiles
cmake-build-debug
*.cbp
Makefile
*.cmake
CMakeCache.txt
build/
android/work*/
raw/
.python-version
build-sprites
__pycache__
scratch/
*.a
src/trippin
Testing/
*_*x.png
*_1z.png
*_2z.png
*_3z.png
*_5z.png
*_6z.png
*_7z.png
*_8z.png
*_9z.png
*_10z.png