.idea
.DS_Store
CMakeFiles
cmake-build-debug
*.cbp
Makefile
*.cmake
CMakeCache.txt
build/
android/work*/
raw/
.python-version
build-sprites
__pycache__
scratch/
*.a
src/trippin
Testing/
2x/
3x/
4x/
5x/
6x/
7x/
9x/
10x/